/* Use flexbox layout to center the content of the body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes up at least the entire viewport height */
    margin: 0; /* Remove the default margin */
    /* Add the following content to arrange the elements inside the body vertically */
    flex-direction: column;
}

/* New style to center the h1 title */
h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin-right: 10px;
}